@use '_variables.scss';

@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url("../fonts/OpenSans-Light.woff2") format("woff2");
    font-weight: lighter;
    font-style: normal;
}