:host {
  display: block;

  header {
    display: flex;
    flex-direction: column;
    min-height: 4em;
    padding-bottom: 1em;
    width: 100%;

    .title {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    .sub-title {
      text-align: center;
    }

  }

  .count-wrapper {
    
    .count {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 28px;
      /* 100 = view port width, as 1vw = 1/100th of that
         So if the container is 50% of view port (as here)
         then factor that into how you want it to size.
         Let's say you like 5vw if it were the whole width,
         then for this container, size it at 2.5vw (5 * .5 [i.e. 50%])
      */
      font-size: 7.5vw; 
    }
  }
}


