:host {
    display: block;
    height: calc(100% - 1.25em);

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .slide {
        background: #FFF;
        border-radius: 5px;
        box-shadow: 1px 2px 3px #000;
        height: 100%;
        margin: 1em;
     

        .inner-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 1em;
           

            .slide-content-wrapper {
                align-content: center;
                background: #CCC;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                gap: 1px;

                .row {
                    background: #FFF;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;
                    padding: 1em;

                    &.flex-row {
                        flex-direction: row;
                        gap: 1px;

                        .col:first-child {
                            border-right: 1px solid #ccc;
                            padding-right: 1em;
                            padding-bottom: 1em;
                        }

                        .col:last-child {
                            padding-left: 1em;
                            padding-bottom: 1em;
                        }   
                    }
    
                    .col {
                        align-content: center;
                        background: #FFF;
                        flex: 1;
                        height: 100%;
                    }
                }
            }
            
        }
        
        //height: 86.75vh;
       // border: 2px solid red;
        // background-color: #fff;
        // display: flex;
        // flex-direction: column;
        // width: 99%;
        // margin: 6px;
        // //height: 95.75vh;
        // //larger vh for when all borders are removed
        // height: 96vh;
    
        // top: 0;
        // bottom: 0;
        // border-radius: 10px;
        // box-shadow: 0px 1px 8px 0px #007681;
        // position: absolute;
    }
    
    .slide-title {
    
        //background-color: aqua;
        h3 {
            margin: 0px;
        }
        max-width: 100%;
    }
    
    .slide-footer {
        display: none;

        h4 {
            margin: 5px;
        }
    
        // height: 100%;
        width: 100%;
        border-top: 2px solid teal;
    }
    
    
    .slide-contents {
        height: 100%;
        width: 100%;
        //flex: 1 1 auto;
    }
    
    ::slotted(*) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

