.row {
    display: flex;
    gap: 2em;
    margin: 0 auto;
    margin-bottom: 2em;

    .col {
        border: 1px solid #000;
        flex: 1;
        min-height: 100px;
    }

    max-width: 980px;

    svg {
        .chart-gridlines {
            opacity: 0.2;
        }
    }
}